@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.01em;
  background-color: #ffffff;
  color: #0f172a; /* slate-900 */
}

::selection {
  background-color: #0f172a;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mesh-gradient-subtle {
    background-color: #ffffff;
    background-image: 
        radial-gradient(at 0% 0%, hsla(253,16%,7%,0) 0, transparent 50%), 
        radial-gradient(at 50% 0%, hsla(225,39%,30%,0) 0, transparent 50%), 
        radial-gradient(at 100% 0%, hsla(339,49%,30%,0) 0, transparent 50%);
    background-image: 
      radial-gradient(at 40% 20%, hsla(28,100%,74%,0.1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(189,100%,56%,0.1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(340,100%,76%,0.1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(240,100%,70%,0.1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(22,100%,77%,0.1) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(242,100%,70%,0.1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(343,100%,76%,0.1) 0px, transparent 50%);
  }
}